{{#each aa}}

<table style="width:100%" , border=1>
  <tr>
    <th>Id</th>
    <th>Length</th> 
    <th>Upload Date</th>
  </tr>
  <tr>
    <td>{{this._id}}</td>
    <td>{{this.va_ratio}}</td> 
    <td>{{this.num_edges}}</td>
  </tr>
 
</table>

{{/each}}